<% layout("/layouts/boilerplate")%>
<div class="outer-pricing">
    <div class="pricing-start">
        <h3>Charges</h3><br>
        <h5>List of all charges and taxes</h5>
    </div>
    <div class="pricing-imgs">
        <div>
            <img src="pricing-eq.svg" alt="zero">
            <br>
            <h4>Free equity delivery</h4>
            <p>All equity delivery investments (NSE, BSE), are absolutely free — ₹ 0 brokerage.</p>
        </div>
        <div>
            <img src="other-trades.svg" class="twenty" alt="twenty">
            <br>
            <h4>Intraday and F&O trades</h4>
            <p>Flat ₹ 20 or 0.03% (whichever is lower) per executed order on intraday trades across equity, currency, and commodity trades. Flat ₹20 on all option trades.</p>
        </div>
        <div>
            <img src="pricing-eq.svg" alt="zero">
            <br>
            <h4>Free direct MF</h4>
            <p>All direct mutual fund investments are absolutely free — ₹ 0 commissions & DP charges.</p>
        </div>
    </div>
    <div class="third-pricing">
        <div class="tags">
            <p>Equity</p>
            <p class="currency">Currency</p>
            <p>Commodity</p>
        </div>
        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Currency futures</th>
                        <th scope="col">Currency options</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Brokerage</th>
                        <td>0.03% or ₹ 20/executed order whichever is lower</td>
                        <td>₹ 20/executed order</td>
                    </tr>
                    <tr>
                        <th scope="row">STT/CTT</th>
                        <td>No STT</td>
                        <td>No STT</td>
                    </tr>
                    <tr>
                        <th scope="row">Transaction charges</th>
                        <td>NSE: 0.00035%</td>
                        <td>NSE: 0.0311%</td>
                    </tr>
                    <tr>
                        <th scope="row">GST</th>
                        <td>18% on (brokerage + SEBI charges + transaction charges)</td>
                        <td>18% on (brokerage + SEBI charges + transaction charges)</td>
                    </tr>
                    <tr>
                        <th scope="row">SEBI charges</th>
                        <td>₹10 / crore</td>
                        <td>₹10 / crore</td>
                    </tr>
                    <tr>
                        <th scope="row">Stamp charges</th>
                        <td>0.0001% or ₹10 / crore on buy side</td>
                        <td>0.0001% or ₹10 / crore on buy side</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>