<% layout("/layouts/boilerplate")%>
<div class="outer">
    <div class="product-start">
        <h3>Zerodha Products</h3>
        <h4>Sleek, modern, and intuitive trading platforms</h4>
    </div>
    <div class="product-d">
        <div class="product-img">
            <img src="kite.png" alt="kite">
        </div>
        <div class="product-text">
            <h3>Kite</h3>
            <br>
            <p>Our ultra-fast flagship trading platform with streaming market data, advanced charts, an elegant UI, and more. Enjoy the Kite experience seamlessly on your Android and iOS devices.</p>
        </div>
    </div>
    <div class="product-d">
        <div class="product-text">
            <h3>Console</h3>
            <br>
            <p>The central dashboard for your Zerodha account. Gain insights into your trades and investments with in-depth reports and visualisations.</p>
        </div>
        <div class="product-img">
            <img src="console.png" alt="console">
        </div>
    </div>
    <div class="product-d">
        <div class="product-img">
            <img src="coin.png" alt="coin">
        </div>
        <div class="product-text">
            <h3>Coin</h3>
            <br>
            <p>Buy direct mutual funds online, commission-free, delivered directly to your Demat account. Enjoy the investment experience on your Android and iOS devices.</p>
        </div>
    </div>
    <div class="product-d kite-connect">
        <div class="product-text">
            <h3>Kite Connect API</h3>
            <br>
            <p>Build powerful trading platforms and experiences with our super simple HTTP/JSON APIs. If you are a startup, build your investment app and showcase it to our clientbase.</p>
        </div>
        <div class="product-img">
            <img src="kite-connect-api.svg" alt="kite connect api">
        </div>
    </div>
    <div class="product-d">
        <div class="product-img">
            <img src="varsity-mobile.png" alt="varsity-mobile">
        </div>
        <div class="product-text">
            <h3>Varsity mobile</h3>
            <br>
            <p>An easy to grasp, collection of stock market lessons with in-depth coverage and illustrations. Content is broken down into bite-size cards to help you learn on the go.</p>
        </div>
    </div>
</div>