<div class="full-footer">
    <div class="upper-footer">
        <div class="social-media">
            <img src="/logo.svg" class="logo-z logo-f" alt="zerodha">
            <p>© 2010 - 2025, Zerodha Broking Ltd.</p>
            <p>All rights reserved.</p>
            <div class="socio">
                <i class="fa-brands fa-x-twitter"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin-in"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-whatsapp"></i>
            </div>
        </div>
        <div class="table-fo">
            <h5>Account</h5>
            <br>
            <div class="account">
                <a href="#">Open demat account</a>
                <a href="#">Minor demat account</a>
                <a href="#">NRI demat account</a>
                <a href="#">Commodity</a>
                <a href="#">Fund transfer</a>
                <a href="#">Refferal program</a>
            </div> 
        </div>
                <div class="table-fo">
            <h5>Support</h5>
            <br>
            <div class="account">
                <a href="#">Contact Us</a>
                <a href="#">Support portal</a>
                <a href="#">Bulletin</a>
                <a href="#">Circular</a>
                <a href="#">Downloads</a>
                <a href="#">Z-Refferal</a>
            </div> 
        </div>
                <div class="table-fo">
            <h5>Company</h5>
            <br>
            <div class="account">
                <a href="#">About</a>
                <a href="#">Philosophy</a>
                <a href="#">Press and media</a>
                <a href="#">Careers</a>
                <a href="#">Open Source</a>
                <a href="#">Zerodha tech</a>
            </div> 
        </div>
                <div class="table-fo">
            <h5>Quick Links</h5>
            <br>
            <div class="account">
                <a href="#">Market Holidays</a>
                <a href="#">Upcoming Calender</a>
                <a href="#">Markets</a>
                <a href="#">Sectors</a>
                <a href="#">Calculators</a>
                <a href="#">Brokerage charges</a>
            </div> 
        </div>
    </div>
</div>