<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ms-auto">
        <a class="nav-link me-4" href="/watchlist">WatchList</a>
        <a class="nav-link me-4" href="/portfolio">Dashboard</a>
        <a class="nav-link me-4" href="/orders">Orders</a>
        <a class="nav-link me-4" href="/holdings">Holdings</a>
        <a class="nav-link me-4" href="/funds">Funds</a>
        <a class="nav-link me-4 portfolio" href="/home">Return Home</a>
      </div>
    </div>
  </div>
</nav>