<% layout("/layouts/Dashboard")%>
<div class="main-wl">
    <div class="niftS">
        <p><b>NIFTY 50</b>&nbsp;&nbsp;&nbsp;&nbsp;0.00</p>
        <p><b>SENSEX</b>&nbsp;&nbsp;&nbsp;&nbsp;0.00</p>
    </div>
    <div class="search">
        <p>Search eg:infy,bse,nifty fut weekly, gold mcx</p>
    </div>
    <div class="lists">
        <div class="list-data">
            <p class="nam">BHARTIARTL</p>
            <p class="am">-1.60%&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-angle-down downRate"></i>&nbsp;&nbsp;&nbsp;1555.45</p>
        </div>
        <div class="list-data">
            <p class="nam">ONGC</p>
            <p class="am">-0.09%&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-angle-down downRate"></i>&nbsp;&nbsp;&nbsp;116.8</p>
        </div>
        <div class="list-data">
            <p class="nam">TCS</p>
            <p class="am">-0.25%&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-angle-down downRate"></i>&nbsp;&nbsp;&nbsp;3194.8</p>
        </div>
        <div class="list-data">
            <p class="nam">KPITTECH</p>
            <p class="am">3.54%&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-angle-down downRate"></i>&nbsp;&nbsp;&nbsp;266.45</p>
        </div>
        <div class="list-data">
            <p class="nam">QUICKHEAL</p>
            <p class="am">-0.15%&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-angle-up upRate downRate"></i>&nbsp;&nbsp;&nbsp;308.55</p>
        </div>
        <div class="list-data">
            <p class="nam">WIPRO</p>
            <p class="am">0.32%&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-angle-up upRate"></i>&nbsp;&nbsp;&nbsp;577.75</p>
        </div>
        <div class="list-data">
            <p class="nam">M&M</p>
            <p class="am">-0.01%&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-angle-down downRate"></i>&nbsp;&nbsp;&nbsp;779.8</p>
        </div>
        <div class="list-data">
            <p class="nam">RELIANCE</p>
            <p class="am">1.44%&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-angle-up upRate"></i>&nbsp;&nbsp;&nbsp;2112.4</p>
        </div>
        <div class="list-data">
            <p class="nam">HUL</p>
            <p class="am">1.04%&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-angle-up upRate"></i>&nbsp;&nbsp;&nbsp;512.4</p>
        </div>
    </div>
</div>
